# env files
.env
.env.local

# firebase admin secrets
firebase-admin.json
config/firebase-admin.json

# node modules
node_modules/

# prisma db
prisma/dev.db
prisma/dev.db-journal

# uploads
backend/storage/uploads/